# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db
*.swp

# IDE settings
.vscode/
.idea/

# Environment files
.env
.gitconfig

# Build directories
/dist/
/build/

/logs
*.log

# Other unwanted files and directories
*.bak
*.swp
